service: nashik-darshan-api

frameworkVersion: "4"

plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: provided.al2
  region: ap-south-1
  # profile: default  # Commented out - using environment variables instead
  architecture: arm64
  memorySize: 512
  timeout: 30
  deploymentBucket:
    name: nashik-darshan-api-deployments-ap-south-1
    blockPublicAccess: true
  httpApi:
    cors: true
  environment:
    # Deployment mode (always set to lambda for Lambda deployment)
    CAYGNUS_DEPLOYMENT_MODE: lambda
    # All other CAYGNUS_* variables will be loaded from .env file automatically
    # via serverless-dotenv-plugin

functions:
  api:
    handler: bootstrap
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      - httpApi:
          path: /
          method: ANY

package:
  patterns:
    - "!**"
    - "bootstrap"
    - "!node_modules/**"
    - "!.git/**"
    - "!*.md"
    - "!Makefile"
    - "!serverless.yml"
    - "!go.mod"
    - "!go.sum"
    - "!cmd/**"
    - "!internal/**"
    - "!ent/**"
    - "!docs/**"
    - "!scripts/**"
    - "!sdks/**"
    - "!*.yaml"
    - "!*.yml"
    - "!.env*"
    - "!bin/**"
