service: nashik-darshan-api

frameworkVersion: "4"

provider:
  name: aws
  runtime: provided.al2
  region: ap-south-1
  # profile: default  # Commented out - using environment variables instead
  architecture: arm64
  memorySize: 512
  timeout: 30
  deploymentBucket:
    name: nashik-darshan-api-deployments-ap-south-1
    blockPublicAccess: true
  httpApi:
    cors: true
  environment:
    CAYGNUS_DEPLOYMENT_MODE: lambda
    # Add your other CAYGNUS_* environment variables here
    # CAYGNUS_SERVER_ENV: prod
    # CAYGNUS_POSTGRES_HOST: ${env:POSTGRES_HOST}
    # CAYGNUS_POSTGRES_PORT: ${env:POSTGRES_PORT}
    # etc.

functions:
  api:
    handler: bin/bootstrap
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      - httpApi:
          path: /
          method: ANY

package:
  patterns:
    - "!**"
    - "bin/bootstrap"
    - "!node_modules/**"
    - "!.git/**"
    - "!*.md"
    - "!Makefile"
    - "!serverless.yml"
    - "!go.mod"
    - "!go.sum"
    - "!cmd/**"
    - "!internal/**"
    - "!ent/**"
    - "!docs/**"
    - "!scripts/**"
    - "!sdks/**"
    - "!*.yaml"
    - "!*.yml"
    - "!.env*"
